
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
  }
  
  .h-100 {
    height: 100% !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .text-white {
    color: #fff !important;
  }
  .theme-blue {
    color: $theme-blue;
  }
  .theme-green {
    color: $theme-green;
  }
  
  a {
    color: $primary-color;
  
    &:hover {
      text-decoration: none;
    }
  }
  .default-padding {
    padding: 20px;
  }
  .input-label {
    font-size: 14px;
    font-weight: weight(medium);
  }
  .chip-tab-labels {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blue {
    .input-label {
      color: #344054 !important;
    }
    .badge-tab-indicator {
      background: #164996;
    }
  }
  
  //  -------------------- overriding the tabs sections --------------
  .tenants_tabs.Mui-selected {
    background-color: #ebedf1 !important;
    font-weight: 600 !important;
  }
  
  .tenants_tabs.MuiTabs-flexContainer > .MuiButtonBase-root {
    color: #667085;
    font-weight: 600 !important;
  }
  
  // ----------------------------- overriding the button disabled section -----------------------
  .Mui-disabled.login_button {
    color: #fff !important;
    background-color: #a3abbf !important;
    border: none !important;
  }
  
  // ------------------------------------ overriding the card components --------------------------------------
  
  .card-bottom-content {
    padding-bottom: 16px !important;
  }
  
  .middle-card-content {
    padding-top: 8px !important;
    padding-bottom: 25px !important;
  }
  
  .MuiCardHeader-content > .MuiCardHeader-title {
    color: #164996 !important;
    font-weight: 500 !important;
    font-size: 17px !important;
  }
  
  .MuiCardHeader-content > .MuiCardHeader-subheader {
    margin-top: 3px !important;
    color: #475467 !important;
  }
  
  // --------------- overriding the skeleton card compoent border ---------------------
  .skeleton_card_container.MuiPaper-root {
    box-shadow: none !important;
    border: 1px solid #eaecf0 !important;
    border-radius: 12px !important;
  }
  
  // ----------------------- mui modal box --------------------
  .MuiBox-root {
    border: none !important;
  }
  
  // removing the underline
  .custom_textfield > .MuiInputBase-root {
    // display: none !important;
    background-color: #fff !important;
  }
  
  .custom_textfield .MuiInputBase-input.MuiOutlinedInput-input {
    height: 0px !important;
  }
  
  // ------------------ user avatar status --------------------------
  .dashboard_user_avatar {
    position: relative !important;
  }
  
  .dashboard_user_avatar_status {
    position: absolute !important;
    bottom: -5px;
    right: -3px;
  }
  
  //  ----------------- deactivate_tenant_user modal ---------------------
  .deactivate_tenant_user {
    height: 40px;
    width: 40px;
    background: #fee4e2;
    border: 8px solid #fef3f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deactivate_tenant_user > img {
    height: 20px;
    width: 20px;
  }
  
  .deactivate_modal_close {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .deactivate_modal_close:hover {
    background-color: #ebedf1;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .outlinedButton {
    width: 100% !important;
    border: 1px solid #d0d5dd !important;
    padding: 10px 0px !important;
    border-radius: 8px !important;
    color: #344054 !important;
  }
  .containedButton {
    width: 100% !important;
    border: 1px solid #d0d5dd !important;
    padding: 11px 0px !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    box-shadow: none !important;
  }
  
  .errorButton {
    width: 100% !important;
    background-color: #d92d20 !important;
    padding: 10px 0px !important;
    border-radius: 8px !important;
    color: #fff !important;
  }
  
  .errorButton:hover {
    background-color: #c9190c !important;
  }
  
  .buttonContainer {
    height: 45px !important;
    width: 100% !important;
  }
  
  .popover_button_profile {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 2px;
  }
  
  .popover_button_deactivate {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 2px;
  }
  
  .popover_button_profile:hover {
    background-color: #f9fafb;
  }
  
  .popover_button_deactivate:hover {
    background-color: #f9fafb;
  }
  
  .checkmark_popover_profile {
    display: none;
  }
  
  .card_popover_profile:hover .checkmark_popover_profile {
    display: block;
  }
  
  .checkmark_popover_deactivate {
    display: none;
  }
  
  .card_popover_deactivate:hover .checkmark_popover_deactivate {
    display: block;
  }
  
  // -------------------------------- custom scrollbar  ----------------------------------
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbec2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  // ----------------------- mui table --------------------
  .table_container {
    // border: 1px solid #EAECF0 !important;
    border-bottom: none !important;
  }
  
  .table_container.MuiTableContainer-root {
    border-radius: 12px !important;
  }
  
  .SnackbarContainer-top {
    margin-top: 70px;
  }
  
  //  -------------------------- tenant popover ---------------------------
  .table_popover .MuiPaper-root {
    box-shadow: none !important;
  }
  
  .MuiPopover-root {
    .MuiPaper-root {
      background: #ffffff;
      border: 1px solid #eaecf0;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      border-radius: 8px;
    }
  
    .MuiList-root {
      .MuiMenuItem-root {
        position: relative;
        z-index: 1;
        padding-right: 30px;
  
        &:before {
          content: '';
          position: absolute;
          right: 10px;
          top: 50%;
          width: 20px;
          height: 20px;
          // background: url('../../public/assets/icons/check.svg');
          margin-top: -10px;
          visibility: hidden;
          opacity: 0;
        }
  
        &:hover,
        &.Mui-selected {
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  
  .MuiSelect-icon {
    width: 20px !important;
    height: 20px !important;
    // background: url('../../public/assets/icons/cheveron-down.svg') no-repeat 50% 50%;
  
    path {
      display: none;
    }
  }
  
  .MuiButton-root {
    border-radius: 3px !important;
    &.Mui-disabled {
      .MuiButton-startIcon {
        opacity: 0.5;
      }
    }
  }
  
  .upload-image-edit-area {
    width: 432px;
    height: 333px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
  
    &:hover {
      .image-edit-options {
        visibility: visible;
        opacity: 1;
      }
    }
  
    .image-edit-options {
      position: absolute;
      background: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.486958) 47.15%,
        rgba(217, 217, 217, 0) 91.91%
      );
      border-radius: 12px;
      height: 81px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // visibility: hidden;
      // opacity: 0;
      transition: visibility, opacity 0.25s linear 0s;
  
      button {
        color: #fff;
        padding: 0 !important;
      }
    }
  }
  
  .dialog-image-edit {
    .MuiDialog-paper {
      max-width: 480px;
    }
  }
  
  .action-button-holder {
    padding: 0 20px 10px;
    border-top: 1px solid #eaecf0;
  }
  
  //  ----------------- mui step for tenants -------------------
  .tenant_password_step_label .MuiStepLabel-label {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 18px !important;
  }
  
  .tenant_step_content .MuiCollapse-root {
    color: #b9c0ce !important;
    font-weight: 400 !important;
    font-size: 8px !important;
    line-height: 24px !important;
  }
  
  .tenant_step_content .MuiTypography-root {
    font-size: 13px !important;
  }
  
  // privacy policy tabs
  .privacy_policy_tab_container.MuiTabs-root {
    background-color: #f9fafb !important;
    border-radius: 10px !important;
  }
  
  .privacy_policy_tab_container .MuiButtonBase-root {
    text-transform: initial !important;
    min-height: 0px !important;
    width: 150px !important;
  }
  
  .privacy_policy_tab_container .Mui-selected {
    color: #164996 !important;
    background: white !important;
    margin: 8px !important;
    text-transform: initial !important;
    border-radius: 5px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  }
  
  .privacy_policy_tab_container .MuiTabs-indicator {
    display: none;
  }
  
  // Navbar css
  .navbar_menu_icon_list {
    ul li img {
      width: 20px;
      height: 20px;
      margin-right: 7.5px;
    }
  
    ul li span {
      font-size: 16px;
      font-weight: 500;
      color: #c1c6d4;
    }
  
    ul li .MuiButtonBase-root {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    svg{
      color:#ccc;
    }
  }
  
  .nav_help_topography {
    span {
      font-size: 16px;
      font-weight: 500;
      color: #c1c6d4;
      margin-top: -10px;
    }
  }
  
  .action-button-holder {
    .MuiGrid-root {
      align-items: flex-end;
    }
  }
  
  // --------------------Config modal css--------------------
  .config_modal_form_css {
    .config_modal_heading {
      padding: 20px;
    }
    .config_modal_title {
      font-size: 20px;
      font-weight: 600;
    }
    .config_modal_text {
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 20px;
    }
    .region-form .region-fieldset {
      padding: 20px 25px 0px 25px;
    }
    .formGroupItem {
      flex-direction: column;
      margin-bottom: 10px;
    }
    .MuiGrid-item {
      width: 100% !important;
      max-width: 100% !important;
  
      button {
        float: right;
      }
    }
    .css-gj1fbr-MuiGrid-root {
      width: 100% !important;
      max-width: 100% !important;
    }
    .MuiGrid-item {
      padding-top: 0px !important;
      margin-bottom: 8px !important;
    }
    .region-form .input-holder .MuiOutlinedInput-root {
      height: 37px;
      margin-bottom: 28px !important;
    }
    .region-form .text-area .input-holder .MuiOutlinedInput-root {
      margin-bottom: 4px !important;
    }
    .action-button-holder {
      border-top: none;
    }
    .action-button-holder .add_another_btn {
      display: none !important;
    }
  
    .css-1szdtvn-MuiFormHelperText-root.Mui-error {
      position: absolute !important;
      margin-top: 35px !important;
    }
    p {
      display: none;
    }
  
    .document_number_format_heading {
      font-size: 16px;
      font-weight: 600;
    }
    .document_number_format_footer {
      font-size: 13px;
      color: #475467;
      margin-top: 20px;
    }
    .document_number_format_part {
      margin-top: 20px;
    }
  }
  .custom-select-search-field-billing-aggrement .css-1455xpr-MuiInputBase-root-MuiOutlinedInput-root {
    height: auto !important;
  }
  
  // ============= REMOVING THE MUI TABS LETTER STYLING ==============
  .MuiButtonBase-root.MuiTab-root {
    text-transform: none !important;
    font-size: 15px !important;
  }
  #multiple_email_address_id .multiple_email_address_id {
    display: block;
    .react-multi-email {
      width: 96% !important;
      .react-multi-email__tags {
        width: 100%;
        .react-multi-email__tag {
          width: 100%;
          .react-multi-email__tag__content {
            width: 100%;
          }
        }
      }
    }
    .react-multi-email [data-tag] {
      font-size: 0.9em;
    }
  }
  
  #FORGET_PASSWORD_INNER_CONTAINER {
    .main_container {
      all: unset;
      overflow: hidden;
      .MuiBox-root {
        width: initial;
      }
      .auth_footer {
        display: none;
      }
      .back_to_login_btn {
        display: none;
      }
    }
  }
  
  .css-xv2tp9 {
    padding-bottom: 0px !important;
  }
  
  .MuiTooltip-tooltip {
    background-color: #164996 !important;
  }
  .MuiTooltip-arrow {
    color: #164996 !important;
  }
  
  .inner_field_component_styling_in_template {
    font-weight: 500;
    font-size: 16px;
    .passwordContainerBox {
      border: 1px solid #eaecf0 !important;
      border-radius: 10px !important;
    }
  
    .passwordMainContainer {
      transition: all 0.4s ease-in-out !important;
    }
  
    .user-border {
      border-bottom: 1px solid #eaecf0;
    }
  
    .box-shadow-wrapper {
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
      border-radius: 10px !important;
    }
  
    .anticipated_time_container {
      position: relative !important;
    }
  
    .anticipated_inner_form {
      position: absolute !important;
      left: 0 !important;
    }
  
    .anticipated_select {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      border-left: 0px !important;
      border-left: none !important;
      background-color: #f9fafb !important;
      border-bottom: 0px !important;
    }
  
    // disabled input styling
    .disabled {
      color: #777 !important; // gray color for text
      background-color: #f5f5f5 !important; // light gray color for background
      box-shadow: none !important;
    }
  }
  
  #addResponseButton {
    background-color: #c1c6d4 !important;
    color: #164996 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: 0px !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
  // for sidebar bottom alignment
  
  .sidebar___comon-style {
    display: flex !important;
    height: 100% !important;
    width: 100% !important;
  
    ul {
      width: 100% !important;
    }
  }
  
  // for text area
  .text__area-style {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    font-weight: 400;
    font-size: 16px;
    // padding: 4px 0 5px;
    padding: 8px 12px;
    box-sizing: content-box;
    display: block;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 5px;
  }
  
  .hover__effect-underline {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      transition: all 0.3s;
    }
  }
  
  .nested-sections {
    padding-left: 30px;
    border-left: 1px solid black;
  }
  #GRSModal_menu {
    .MuiPaper-root {
      margin-top: 40px;
      margin-left: -115px;
    }
  }
  
  .finance__buttons {
    // margin-bottom: 3rem;
    // display: none;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    padding: 0;
    button {
      &.active {
        background: #ebedf1;
        border-radius: 0;
        box-shadow: none;
        box-shadow: 2 10px 0px 5px red;
        border-bottom: 2px solid;
      }
    }
  }
  
  // strech layout
  .strech__content {
    padding: 0 24px !important;
    margin: 0 !important;
    width: 100% !important;
    // background: red;
    max-width: 100% !important;
  }
  
  .right__fixed-template-layout {
    position: fixed;
    right: 26px;
    height: calc(100% - 231px);
    overflow: auto;
    width: 100%;
    padding-left: 50px !important;
  }
  
  .left__fixed-template-layout {
    position: fixed;
    left: 26px;
    height: calc(100% - 231px);
    overflow: auto;
    width: 100%;
    padding-left: 50px !important;
  }
  
  // error
  .error__box {
    background: transparent !important;
    padding: 8px !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4 !important;
    padding-left: 3px !important;
  
    .MuiAlert-message {
      font-size: 14px;
      font-weight: normal;
    }
  
    .MuiAlert-icon {
      margin-right: 8px !important;
      font-size: 18px !important;
      display: flex;
      align-items: center;
    }
  }
  
  .css-cveggr-MuiListItemIcon-root{
    min-width: 40px;
  }
  
  .nav_item:hover{
    background-color: #08367B;
  }
  .child_nav_item:hover{
    background-color: #052A63 ;
  
  }