// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  font-size: 18px;
}

.editor {
  border: 1px solid #e9e9e9;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

.editor h2,
.editor h3,
.editor h4 {
  color: #112e51;
}

.editor h2 {
  font-size: 1.555555556rem;
}

.editor h3 {
  font-size: 1.333333333rem;
}

.editor h4 {
  font-size: 1rem;
}

.editor a {
  color: #0071bc;
  text-decoration: none;
}

.editor a:hover {
  text-decoration: underline;
  cursor: pointer;
}

pre {
  border: 1px solid #e9e9e9;
  padding: 1rem;
  background-color: #f4f4f4;
}

// customizing the editor innter interface

// dynamic height for the template
.editorcontainer {
  border: 0;
  overflow: hidden;
}

.templateHeight {
  height: 50px;
}

.editor {
  height: 150px;
}

.rdw-editor-toolbar {
  border: 0;
  border-bottom: 1px solid #eaecf0;
  padding: 20px 0px;
}

.rdw-dropdown-wrapper {
  background-color: #f3f4f6;
  border: 0;
  border-radius: 6px;
}

.rdw-option-wrapper {
  background-color: #f3f4f6;
  border: 0;
  border-radius: 6px;
}

.rdw-dropdown-optionwrapper {
  border: 0;
}

.rdw-dropdown-wrapper:hover {
  background-color: #f3f4f6;
  border: 0;
}

.public-DraftStyleDefault-ltr {
  // padding: 10px;
  border: 0;
}

.email-form-container {
  border-bottom: 1px solid #eaecf0;
  padding: 20px 0px;
}

.my-custom-editor__container {
  height: calc(450px + 150px);
}
