// ===============================================
// Roboto
// ===============================================

// 100
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

// 300
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

// 400
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

// 500
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

// 700
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

// 900
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: local("Roboto"), url("/assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

// ===============================================
// Poppins
// ===============================================

// 200
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

// 300
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

// 400
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

// 500
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

// 600
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

// 700
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

// 800
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}

// 900
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: local("Poppins"), url("/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
