$primary-color: #0467a0;
$secondary-color: #c83734;

$red-color: #ed1c24;
$soft-color: #ffffff;
$blue-color: #0072bc;
$padding: 0 4.75rem 0 4.75rem;

// font size
$p-font: 1.1rem;

// Breakpoints
$min: 769px;
$sm: 375px;
$md: 768px;
$md2: 1220px;
$md3: 1300px;
$lg: 1400px;
